
*{
    box-sizing: border-box;
    font-size:  16px;
}


.list-container{
padding-top: 1rem;
display: flex;
justify-content: center;



}

.list-container li{
    background-color: #698269;
    display: inline;
    padding: 2rem;
    list-style-type: none;
    border-radius: 1rem;
    
}


@media screen and 360px {
    
}