
*{
    box-sizing: border-box;
    font-size:  10px;
    margin: 0;
}




.pmkflogo-head{
    width: 30%;
    padding: 1rem;
}

.list-container{
    display: flex;
    flex-direction:row;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.list-container > a{
    padding: .25rem;
    border-radius: .2rem;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: var(--hue5);
    font-size: 1.3rem;
}



.grid-conatiner{
    display: grid;
    grid-template-columns: repeat(3fr);
    grid-template-rows: repeat(7fr);
}


.grid-item{
    background-color: #FF6464;
}



.people_block{
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
 
}


.people_block > h2{
    padding-top: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    display: grid;
    text-align: center;
    font-size: 1.2rem;
    
}

.people_img{
    width: 100%;
}

/* licensing link */
.people_block > a{
    display: flex;
    padding: 0rem;
    font-size: .5rem;
    justify-content: end;
    text-decoration: none;
    color: #000;
}


.experince{
    display: grid;
    justify-content: center; 
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    
}

.experince > p{
    padding-bottom: 2rem;
    border-radius: 0 0 1rem 1rem;
    display: grid;
    text-align: center;
    font-size: 1.5rem;
}


.bg{
    background-image: url("../img/1910.i039.014_wealth\ management\ isometric.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.description{
    display: grid;
    justify-content: center;
    padding: 1rem;
}

.description > h2{
    background: var(--hue3);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1.5rem;
}

.val_container{
    display: grid;
    grid-row:column;
    gap: 1rem;
    justify-content: center;
}

.val_container > a{
    text-decoration: none;
    background: var(--hue4);
    padding: 1.5rem;
    border-radius: 0.4rem;
    text-align: center;
    color: black;
    font-size: 2.5rem;
}






.info_foot{   
    padding: 1rem;
    display: grid
}

.pmkflogo-foot{
    width: 36%;
    
    
}

.info_foot > a{
    text-decoration: none;
    padding: .5rem 0 .5rem 0;
    color: black;
}